header {
    background-color: aquamarine;
}
nav ul li {
    display: inline-block;
    background-color: red;
}
article {
    background-color: bisque;
    display: inline-block;
}
table, td {
    background-color: blue;
    float: right;
    border: 1px solid black;
}

thead,tfoot {
    background-color: red;
    color:white;
}
